body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 36px;
}

h3{
    color: #d0aaff;
    font-size: 20px;
    margin:0;
}

p {
    line-height: 1.5em;
}

/* Links */

p a {
    color: #ef5839;
    text-decoration: underline dotted;
}

p a:hover, p a:active {
    color: #d4b44c
}

/* Layout */
header {
    background-color: #5f29a3;
    color: #fff;
    padding: 45px 0;
}

.container {
    width: 620px;
    margin: 0 auto;
}

section {
    padding: 45px 0;
}

.main-image {
    width: 100%;
}

.section-highlight {
    background: #5f29a3;
    color: whitesmoke
}

.feature-image {
    width: 300px;
    border-radius: 4.6px;
}

.feature-image_container {
    display: flex;
    justify-content: space-between;
}

footer {
    text-align: center;
    color: #5f29a3;
    padding: 45px 0;
}

.btn {
    padding: 10px 19px;
    border-radius: 4.6px;
    text-decoration: none;
}

.btn:hover {
    color: #f3e885;
    background: #2b283a;
}

.btn-primary {
    color: whitesmoke;
    background: #5f29a3;
}

.btn-secondary {
    color: #5f29a3;
    background: #f0e0ff;
}

.btn-tertiary {
    color: #5f29a3;
    background: whitesmoke;
}